<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Collection</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include('../partials/_navbar') %>
  <div class="web-page-content">
    <h1>My Watch Collection</h1>

    <ul>
      <% if (watches.length > 0) {%>
        <%watches.forEach((watch) => { %>
          <li><a href="/users/<%= user._id %>/watches/<%= watch._id %>"><%= watch.year %> <%= watch.brand %> <%= watch.model %></a></li>
      <%})%>
      <%} else {%>
        <p>Your collection is currently empty.</p>
    <% } %>
    </ul>
    <a href="/users/<%= user._id %>/watches/new">Add a watch</a>
  </div>
</body>

</html>