<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Collection</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <%- include('../partials/_navbar') %>
  <div class="web-page-content">
    <h1>My Watch Collection</h1>

    <ul>
      <% if (watches.length > 0) {%>
        <table class="mywatch-index">
          <thead>
            <tr>
              <th>Watches</th>
            </tr>
          </thead>
          <tbody>
            <%watches.forEach((watch) => { %>
              <tr>
                <td><a href="/users/<%= user._id %>/watches/<%= watch._id %>"><%= watch.year %> <%= watch.brand %> <%= watch.model %></a></td>
          <%})%>
              </tr>
              <tr><td><br></td></tr>
              <tr>
                <td><a class="add-watch-link" href="/users/<%= user._id %>/watches/new">Add a watch</a></td>
              </tr>
          </tbody>
        </table>
        
      <%} else {%>
        <table class="mywatch-index">
          <thead>
            <tr>
              <th>Watches</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>Your collection is currently empty</td>
              </tr>
              <tr><td><br></td></tr>
              <tr>
                <td><a class="add-watch-link" href="/users/<%= user._id %>/watches/new">Add a watch</a></td>
              </tr>
          </tbody>
        </table>
    <% } %>
    </ul>
    <%- include('../partials/_logo.ejs') %>
  </div>
</body>

</html>